* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    color: black;
    overflow-x: hidden;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Barriecito', cursive;
}